@import 'index';
@import 'index-grid';
@import 'standardize';

*{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	transition:color 2s, background-color 2s; 
	-webkit-transition:color 2s, background-color 2s;
} 
.black{
	background-color: rgb(76, 61, 32);
} 
.blue{
	background-color: rgb(122, 132, 181);
} 
.white{
	background-color: rgb(196, 203, 245);
} 
.gold{
	background-color: rgb(163, 130, 63);
} 
.black-text{
	color: rgb(76, 61, 32);
} 
.blue-text{
	color: rgb(122, 132, 181);
} 
.white-text{
	color: rgb(196, 203, 245);
} 
.gold-text{
	color: rgb(163, 130, 63);
}