<!DOCTYPE html>
<html>
<head>
    <title>TrivMe</title>
    <link rel='shortcut icon' type='image/png' href='@routes.Assets.at("images/favicon.png")'>
    @helper.requireJs(core = routes.Assets.at("javascripts/require.js").url, module = routes.Assets.at("javascripts/main").url)
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")">
</head>
<body class="body page-index clearfix" ng-controller="AppController">
  <div class="header gold clearfix js-header">
    <p class="text white-text">TrivMe</p>
    <div class="header-tab-container">
	    <div class="header-tab white-text" ng-click="setDisplay('question')">Play
	    </div><div class="header-tab white-text" ng-click="setDisplay('graph')">
	    	Analyze
	    </div>
    </div>
  </div>
  <div class="question clearfix" ng-show="askQuestion()">
    <p class="question-title">Question</p>
    <p class="question-text">{{currentQuestion.question}}</p>
    <div class="answerbox clearfix">
      <div class="answer gold clearfix" ng-click="answer(1)">
        <p class="answer-text0 white-text" >{{currentQuestion.answer1}}</p>
      </div>
      <div class="answer white clearfix" ng-click="answer(2)">
        <p class="answer-text1 gold-text" >{{currentQuestion.answer2}}</p>
      </div>
      <div class="answer gold answer-3 clearfix" ng-click="answer(3)">
        <p class="answer-text2 white-text">{{currentQuestion.answer3}}</p>
      </div>
      <div class="answer white clearfix" ng-click="answer(4)">
        <p class="answer-text3 gold-text">{{currentQuestion.answer4}}</p>
      </div>
    </div>
    <div id="result" ng-class="getResult()" ng-show="currentQuestion.answered != -1">{{getResultText()}}</div>
  </div>
  <div class="score clearfix" ng-show="askQuestion()">
    <p class="score-title">Score</p>
    <div class="scoreBarCont"><div id="scoreBar">&nbsp;</div></div>
    <p class="score-text">    {{stats.all.correct}}/{{stats.all.total}}</p>

  </div>

  <div class="analysis" ng-show="showGraph()">
  	<section id="graph">
  	
  	</section>
  </div>
</body>
</html>
